.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.width-95{
  width: 95%;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
  background-color: rgb(72, 72, 72);
  color: white;
}



